body {
	background-color: lightblue;
}

#tweetContainer {
	height: 100%;
	width: 450px;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid grey;
}


.tweet {
	height: 80px;
	width: 448px;
	background-color: lightgrey;
	border-left: 1px solid grey;
	border-right: 1px solid grey;
	border-bottom: 1px solid grey;
}

.heading {
	width: 100%;
	height: 20px;
	background-color: white;
	font-size: smaller;
}

.user {
	float: left;
	height:98%;
	padding: 2px 7px;
}

.timestamp {
	float: right;
	height: 98%;
	padding: 2px 5px;
}

.content {
	height: 100%;
	width: 100%;
	padding: 20px 5px;
}